/TicketVerkoop/TicketVerkoop/nbproject/private/
/TicketVerkoop/TicketVerkoop/TicketVerkoop-war/nbproject/private/
/TicketVerkoop/TicketVerkoop/TicketVerkoop-ejb/nbproject/private/
/TicketVerkoop/TicketVerkoop-C/nbproject/private/
/TicketVerkoop/TicketVerkoop-C/build/
/TicketVerkoop/TicketVerkoop-C/dist/
/TicketVerkoop/TicketVerkoop/TicketVerkoop-ejb/build/
/TicketVerkoop/TicketVerkoop/TicketVerkoop-ejb/dist/
/TicketVerkoop/TicketVerkoop/TicketVerkoop-war/build/
/TicketVerkoop/TicketVerkoop/build/
/TicketVerkoop/TicketVerkoop/TicketVerkoop-war/dist/
/TicketVerkoop/TicketVerkoop/dist/
/TicketVerkoop/GUI/stand-alone interface/nbproject/private/
/TicketVerkoop/GUI/stand-alone interface/build/
/TicketVerkoop/JavaLib/nbproject/private/
/TicketVerkoop/EJBModule1/nbproject/private/
/Voorbeeld/Rent/Rent-ejb/src/java/JavaLib/build/
/Voorbeeld/Rent/Rent-ejb/src/java/JavaLib/dist/
/Voorbeeld/Rent/Rent-ejb/src/java/JavaLib/nbproject/private/
/TicketVerkoop/EJBModule1/build/
/TicketVerkoop/JavaLib/dist/
/TicketVerkoop/JavaLib/build/
/TicketVerkoop/EJBModule1/dist/